body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.pokemon-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.app-title {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#search {
    padding: 5px;
    margin-left: 5px;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination-container button {
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

